<ion-header>
  <ion-toolbar color="primary" >
      
        <ion-button (click)="addTask()" slot="end"  color="dark" >
          <ion-icon name="add"  ></ion-icon>
        </ion-button>
    <ion-title>ToDoList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let item of perfumes" color="light">
      <app-perfumelistitem [item]="item"></app-perfumelistitem>
        <!-- <ion-item (click)="changeUrl(item)">

              <ion-thumbnail slot="start">
                  <img [src]="item.image">
                </ion-thumbnail>
            <ion-label><h2>{{ item?.name }} 
            </h2></ion-label>
            
        </ion-item> -->
      </ion-card>
</ion-content>
