<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="https://static.wixstatic.com/media/a59f6c_9e283f0c0050444482b3a96444182255~mv2.jpeg/v1/fill/w_517,h_345,al_c,q_90/a59f6c_9e283f0c0050444482b3a96444182255~mv2.webp" alt="" />
      
      <ion-card-header>
        
        <ion-card-title>Welcome to The Perfume Society</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>We believe everyone deserves to smell good – and feel great. Here, you can explore the perfume universe, find a new ‘scent love’ via our Discovery Boxes – or join our unique perfume-lovers ‘club’.</p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
